.Forecats {
  text-align: center;
}

.Low {
  opacity: 0.7;
}
.SevenDays {
  color: rgb(6, 9, 48);
  font-size: 13px;
}

a {
  color: rgb(143, 76, 184);
  text-decoration: none;
}

a:hover {
  color: rgb(1, 103, 138);
  text-decoration: underline;
}
