#button {
  color: #fff;
  background-color: rgb(89, 91, 131);
  border-color: rgb(89, 91, 131);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: auto;
}
:hover #button {
  color: #fff;
  background-color: rgb(59, 61, 100);
  border-color: rgb(59, 61, 100);
}
:active #button {
  border-color: rgb(59, 61, 100);
  box-shadow: inset rgb(59, 61, 100);
}
#searchForm {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  border-color: rgb(89, 91, 131);
}
h1 {
  font-size: 38px;
}
.intro {
  margin-top: 15px;
}
.WeatherUnit,
.dateTime,
p {
  font-size: 15px;
}
.row {
  padding: 0px;
}
.iconMian {
  margin: auto;
  margin-top: 25px;
  float: right;
  height: 58px;
  width: 55px;
}
.tempIcon {
  float: left;
  display: flex;
  margin-top: 13px;
}
.temperature {
  font-size: 50px;
}
.Extra {
  padding: 10px;
}
p {
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.1rem;
}
